<!DOCTYPE html>
<html>
<head>
	<title>ngClassifieds</title>
	<link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
	<link href="node_modules/mdi/css/materialdesignicons.min.css"rel="stylesheet" media="all" rel="stylesheet" type="text/css"  >
	<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
<body ng-app="ngClassifieds"><!-- Our controller is tied to the view with ng-controller -->
<ui-view></ui-view>

<p>http-server is running</p>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script src="scripts/app.js"></script>
<script src="components/classifieds/classifieds.ctr.js"></script>
<script src="components/classifieds/classifieds.fac.js"></script>
<script src="components/classifieds/new/classifieds.new.ctr.js"></script>
<script src="components/classifieds/edit/classifieds.edit.ctr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.1/lodash.min.js"></script>


</body>
</html>


<!-- 
			Useful code
<button ng-click="showName = true">Show name</button>
<p ng-show="showName">Harald Lønsethagen</p>

ng-hide og ng-show er invers av hverandre


<button ng-click="showName = true">Show Name</button>
<button ng-click="showName = false">Hide Name</button>
<p ng-show="showName">Harald Lønsethagen</p>

			For å se at informasjon blir lagret riktig
		<pre>{{classified | json }}</pre>


-->